streamlit
torch==2.2.0
transformers==4.38.1
sentencepiece
sacremoses
accelerate==0.27.2
bitsandbytes
scipy
datasets
pandas
regex
mock
mosestokenizer
indic-transliteration==2.3.2
git+https://github.com/VarunGumma/IndicTransToolkit.git
